.redi{border-radius: 30px;}
.hed{font-family: cursive;color: blueviolet;font-size: 3rem;font-weight: bold;}
.dec{color: brown;font-weight: bold;}
.card{width: 18rem;margin: auto!important;margin-top: 8%!important;}